h1{
    text-align: center;
}

body{
    margin: 0px;
    padding: 0px;
    background-color:#ffffff ;  
}
#buttons{
    padding-top: 30px;
    text-align: center;
}
#sortering,#kunderDiv{
    text-align: center;
}
table{
    display: inline-block;
    text-align: center;
}
p, label{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
   
}
input, select{
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #77a5fa;
}
.btn{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    background-color: #0027a7;
}
.standard:hover, .funktion:hover{
    border: 2px;
    border-color: #0027a7;
    border-style: solid;
    background-color: #ffffff;
    color: #0027a7;
}
.positiv:hover{
    background-color: #03a303;
}
.negative:hover{
    background-color: #c00000;
}

table{
    margin-top: 20px;
}
table, th, td{    
    border-collapse: collapse;
    text-align: center;
}
#kunderTbody th, #kunderTbody td:not(:first-child):not(:last-child){
    width: 250px;
}
tr{
    height: 35px;
}
#kunderTbody tr:nth-child(odd){
    background-color: #97ddf8;
}
#kunderTbody tr:nth-child(even){
    background-color: #77a5fa;
}

#kunderTbody tr:first-child{
    background-color: #0027a7;
    color: #ffffff;
}
#kunderTbody td{
    border-top: #0027a7 1px solid;
    border-bottom: #0027a7 1px solid;
}
#kunderTbody td:last-child{
    padding-left: 20px;
    border-right: #0027a7 1px solid;
}
#kunderTbody td:first-child{
    border-left: #0027a7 1px solid;
}