.main {
  display: flex;
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
.meny {
  width: 20%;
  height: 100vh;
  background: linear-gradient(to right, #003cff, #0027a7);
  flex: 1;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}
.meny ol{
  list-style: none;
  display: block;
  margin-top: 0px;
  margin-left: -40px;
}
.meny ol li a, .meny ol li p{
  color: #fcfcfc;
  font-size: 30px;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  position: relative;
}
.meny ol li a:hover {
  color: #000000;
  background-color: #f0f8ff;
}
.display {
  flex: 8;
}

